@import "./VariablesMixin.scss";

$sidebar-width: 400px;
$sidebar-background-color: rgba(0, 0, 0, 0.5);
$sidebar-transition-effect: right 0.75s ease-out;
$sidebar-mobile-transition-effect: top 0.75s ease-out;
$sidebar-chevron-transition-effect: transform 0.75s ease-out;

@mixin SidebarPos($t) {
  position: absolute;
  top: $t;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background {
  z-index: -100;
  position: absolute;
  top: -11%;
  right: 0;
  left: 0;
  width: 100vw;
  height: 140vh;
  overflow: hidden;

  background-color: #000;

  @include mobile-vertical {
    top: -30%;
    left: -170%;
    width: 400%;
    height: 150%;
  }

  .VideoContainer {
    position: relative;
    pointer-events: none;
    padding-bottom: 65%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.SidebarToggleButton {
  position: absolute;
  top: 50%;

  transition: $sidebar-transition-effect;

  z-index: 100;

  cursor: pointer;

  &.Opened {
    right: 370px;
  }

  &.Closed {
    right: 0px;
  }

  .ButtonWrapper {
    padding: 10px;

    background: linear-gradient(
      90deg,
      $sidebar-background-color 0 48.5%,
      rgba(0, 0, 0, 0) 48.5% 100%
    );

    border-radius: 50%;
    display: flex;
    align-items: center;

    .ChevronIcon {
      font-size: 36px;
      color: whitesmoke;
      position: relative;
      right: 12px;

      transition: $sidebar-chevron-transition-effect;

      &.Opened {
        transform: rotateY(180deg);
      }

      &.Closed {
        transform: rotateY(0deg);
      }
    }
  }
}

.QualitySettingsButtonContainer {
  position: absolute;
  left: 15px;
  top: 15px;

  z-index: 2;

  .QualitySettingsIcon {
    font-size: 36px;
    color: whitesmoke;
    transform: rotate(0deg);

    transition: transform 0.2s ease-in-out;

    cursor: pointer;

    &:hover {
      transform: rotate(360deg);

      ~ .QualitySettingsTooltip {
        visibility: visible;
        opacity: 0.9;
        transform: scale(1);
      }
    }
  }

  .QualitySettingsTooltip {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
    padding-bottom: 10px;

    visibility: none;
    opacity: 0;

    transform-origin: top left;
    transform: scale(0.1);

    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;

    span {
      font-size: 12px;
      color: whitesmoke;
    }
  }
}

.QualitySettingsRadioContainer {
  position: absolute;
  top: -50%;
  left: 60px;
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 3;

  .QualitySettingsOption {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
}

.Sidebar {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  @include size($sidebar-width, 100%);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //TODO:Change me!!
  background-color: $sidebar-background-color;

  transition: $sidebar-transition-effect;

  overflow-y: auto;
  gap: 50px;

  @include custom-scrollbar(#ffffffa0);

  &.Opened {
    right: 0px;
  }

  &.Closed {
    right: -370px;
  }

  .TitleContainer {
    @include flex-center();
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: "Montserrat", sans-serif;
    background-color: transparent;

    span {
      font-size: 36px;
      font-weight: 400;
      color: white;
    }
  }

  .WalkingManSvg {
    width: 100%;
    margin-bottom: 20px;
  }

  .CityListContainer {
    width: 80%;
    margin: 0 auto;

    margin-bottom: 25px;
    .CitySpan {
      @include flex-center();
      margin: 5px auto;

      span {
        font-size: 16px;
        font-weight: 600;
        color: whitesmoke;
      }
    }

    .CityList {
      width: 100%;
      height: 200px;

      color: whitesmoke;

      overflow-x: hidden;
      overflow-y: auto;

      @include custom-scrollbar(#ffffffa0);

      .City {
        @include flex-center();
        width: calc(100% - 3px);
        height: 17px;

        border: 1.5px solid whitesmoke;
        padding-top: 20px;
        padding-bottom: 20px;

        font-weight: 400;

        background-color: rgba(82, 82, 82, 0.3);
        transition: background-color 0.2s ease-in-out;

        cursor: pointer;

        &:hover {
          background-color: rgba(190, 190, 190, 0.55);
          font-weight: 600;
        }

        &.Current {
          background-color: rgba(190, 190, 190, 0.4);
          font-weight: 600;
        }
      }
    }
  }

  .StreetSoundContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .EnableSoundContainer {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .SoundbarContainer {
      width: 100%;
      @include flex-center();
      gap: 30px;

      .SoundIcon {
        position: relative;
        top: 1px;
        font-size: 30px;
        color: whitesmoke;
      }

      #volume {
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        background: transparent;
        width: 250px;
        height: 5px;
      }

      #volume::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;

        width: 20px;
        height: 20px;
        background: whitesmoke;

        border: 3px solid whitesmoke;
        border-radius: 100%;
        cursor: pointer;
      }
    }

    span {
      font-size: 16px;
      font-weight: 500;
      color: white;
    }

    .ToggleButton {
      @include flex-center();
      width: 120px;
      height: 25px;

      border: 1px solid white;
      border-radius: 40px;
      background-color: transparent;
      color: white;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: whitesmoke;
        color: black;
      }

      &.active {
        background-color: whitesmoke;
        color: black;
      }
    }
  }

  .WalkingSpeedContainer {
    width: 100%;
    @include flex-center(horizontal);
    gap: 20px;

    .WalkingSpeedSpanContainer {
      @include flex-center();
      font-size: 20px;
      font-weight: 500;
      color: white;
    }

    .IconContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      .Icon {
        background-color: whitesmoke;
        border-radius: 50%;
        padding: 4px;
        cursor: pointer;
        filter: brightness(1);
        transition: filter 0.2s ease-in-out;
      }

      .IconStyles {
        font-size: 36px;
      }

      .Nonactive {
        background-color: none;
        filter: brightness(0.15);

        &:hover {
          filter: brightness(0.3);
        }
      }

      .SpeedTooltip {
        @include flex-center();
        margin-top: 10px;
        color: whitesmoke;
        transition: opacity 0.2s ease-in-out;
        font-weight: 500;
      }
    }
  }

  .GithubWrapper {
    @include flex-center();
    margin-bottom: 20px;

    font-size: 32px;
    color: whitesmoke;
  }

  .VideoSourceWrapper {
    @include flex-center();
    margin-bottom: 30px;

    span {
      font-size: 20px;
      font-weight: 400;
      color: whitesmoke;
      transition: color 0.2s ease-in-out;
      &:hover {
        font-weight: 500;
        color: #ff0000;
      }
    }
  }
}

.TransparentLayer {
  @include size(100%, 100%);
  background-color: transparent;
  z-index: 1;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}
