@import "./VariablesMixin.scss";

$sidebar-width: 400px;
$sidebar-background-color: rgba(0, 0, 0, 0.5);

@mixin SidebarPos($t) {
  position: absolute;
  top: $t;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background {
  z-index: -100;
  position: absolute;
  top: -10%;
  right: 0;
  left: 0;
  bottom: -10%;
  width: 100vw;
  height: 120vh;

  background-color: #000;

  .VideoContainer {
    position: relative;
    pointer-events: none;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.Sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  @include size($sidebar-width, 100%);
  margin: 0 auto;

  //TODO:Change me!!
  background-color: $sidebar-background-color;

  .TitleContainer {
    @include SidebarPos(20px);
    @include flex-center();

    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    span {
      font-size: 36px;
      font-weight: 400;
      color: white;
    }
  }

  .WalkingManSvg {
    @include SidebarPos(70px);
  }

  .StreetSoundContainer {
    width: 100%;
    @include SidebarPos(150px);
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      font-size: 16px;
      font-weight: 500;
      color: white;
    }

    .ToggleButton {
      @include flex-center();
      width: 120px;
      height: 25px;

      border: 1px solid white;
      border-radius: 40px;
      background-color: transparent;
      color: white;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: whitesmoke;
        color: black;
      }

      &.active {
        background-color: whitesmoke;
        color: black;
      }
    }
  }

  .WalkingSpeedContainer {
    @include SidebarPos(240px);
    width: 100%;
    @include flex-center(horizontal);
    gap: 20px;

    .WalkingSpeedSpanContainer {
      @include flex-center();
      font-weight: 500;
      color: white;
    }

    .IconContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      .Icon {
        background-color: whitesmoke;
        border-radius: 50%;
        padding: 4px;
        cursor: pointer;
        filter: brightness(1);
        transition: filter 0.2s ease-in-out;
      }

      .IconStyles {
        font-size: 36px;
      }

      .Nonactive {
        background-color: none;
        filter: brightness(0.1);
      }
    }
  }

  .GithubWrapper {
    position: absolute;
    @include SidebarPos(92vh);
    @include flex-center();
    font-size: 32px;
    color: whitesmoke;
  }
}

.TransparentLayer {
  @include size(100%, 100%);
  background-color: transparent;
  z-index: 1;
}
